{% extends 'base/base.html' %}
{% load static %}

{% load bootstrap %}


{% block title %}
    Hora Extra
{% endblock %}

{% block main %}
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-info"> Salvar </button>
        {% if object %}
            <a class="btn btn-danger" href="{% url 'delete_hora_extra' object.id %}"> Deletar </a>

            <button class="btn btn-dark" onclick="utilizouHoraExtra({{ object.id }})"
                    type="button">
                Hora Extra Utilizada
            </button>

            <button class="btn btn-outline-secondary" onclick="naoUtilizouHoraExtra({{ object.id }})"
                    type="button">
                Hora Extra Não Utilizada
            </button>

        {% endif %}
    </form>
    <p>sitação: {{ object.utilizada }}</p>
    <p id="horas"> horas </p>
    <p id="mensagem"> mensagem </p>


{% endblock %}

{% block static %}


    <script src="{% static 'bootstrap/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/funcoes-ajax.js' %}"></script>

{% endblock %}
