{% extends 'base/base.html' %}

{% block title %}
    Lista de Hora Extra
{% endblock %}

{% block main %}


    {% for registro_hora_extra in object_list %}
        <p>
            <a href="{% url 'edit_hora_extra' registro_hora_extra.id %}"> {{ registro_hora_extra }} </a>
            <a class="btn btn-danger" href="{% url 'delete_hora_extra' registro_hora_extra.id %}"> Deletar </a>
        </p>

    {% endfor %}


    <p>
        <a class="btn btn-info" href="{% url 'create_hora_extra' %}"> Criar </a>
    </p>
{% endblock %}