{% extends 'base/base.html' %}

{% block title %}
    Lista de Funcionários
{% endblock %}

{% block main %}
    List

    {% for funcionario in object_list %}
        <p>
            <a href="{% url 'edit_funcionarios' funcionario.id %}">{{ funcionario }}</a>
        </p>

        <p>
            <a href="{% url 'delete_funcionarios' funcionario.id %}">Deletar</a>
        </p>

    {% endfor %}

    <div class="col-sm">
        <a href="{% url 'create_funcionarios' %}" class="btn btn-info"> Novo </a>
        <a class="btn btn-secondary" href="{% url 'pdf-reportlab' %}"> Relatório de funcionários (report-lab) </a>
        <a class="btn btn-outline-dark" href="{% url 'pdf-xtml2pdf' %}"> Relatório de funcionários (xhtml2pdf) </a>
        <a class="btn btn-danger" href="{% url 'pdf-xtml2pdf-debug' %}"> Relatório de funcionários (xhtml2pdf template) </a>
    </div>



{% endblock %}