{% extends 'base/base.html' %}

{% block title %}
    Página Core
{% endblock %}


{% block main %}
    <div class="col-lg">
        <h1> Bem vindo </h1>
    </div>
    <div class="col-lg">
        <a href="{% url 'list_funcionarios' %}"> Gerenciar funcionarios </a>
    </div>
    <div class="col-lg">
        <a href="{% url 'list_departamentos' %}"> Gerenciar Departamentos </a>
    </div>
    <div class="col-lg">
        <a href="{% url 'list_hora_extra' %}"> Gerenciar Hora Extra </a>
    </div>

    <div class="col-sm">
        <h1> {{ usuario.funcionario.nome }} </h1>
        {% if usuario.funcionario.empresa %}
            <a href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}">Editar Empresa</a>
        {% else %}
            <a href="{% url 'create_empresa' %}">Criar Empresa</a>

        {% endif %}
    </div>

    <div class="col-sm">
        <a href="{% url 'logout' %}">Logout</a>
    </div>

    {% include 'core/dash_plotly.html' %}

{% endblock %}